* {
    margin: 0;
    padding: 0;
    font-family: 'source sans pro', sans-serif;
}
.container {
    background-color: #222242;
    height: 100vh;
    width: 100vw;
    text-align: center;
    position: absolute;
}
.wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.wrapper p {
    position: relative;
    display: inline-block;
    color: #ffffff;
    z-index: 9999;
    font-size: 48px;
    margin-bottom: 120px;

}
.wrapper p::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #151538;
    z-index: -1;
    border-radius: 50%;
    left: -35%;
    top: -130%;
    animation-name: shine;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes shine{
    0%,100%{
        box-shadow: 0px 0px 32px -12px rgb(131, 137, 6);
    }
    50%{
        box-shadow: 0px 0px 32px 3px rgb(131, 137, 6);
    }
}
button{
    background-color: black;
    padding: 10px 38px;
    border: 1px solid rgba(77, 77, 77, 0.885);
    border-radius: 28px;
    color: #fff;
    transition: all .2s ease;
    outline: 0;
}
button:not(:last-child){
    margin-right: 20px;
}
button:hover,
button:focus
{
    border-color: rgb(131, 137, 6);
    color: rgb(131, 137, 6);
    box-shadow: 0px 4px 27px -12px rgb(131, 137, 6);
}